<%= form_for @article do |f| %>
<%= render partial: 'shared/multi_error_messages' %>
	<%= f.label :category, "Category" %>
	<%= f.select(:category_id, @categories.collect { |category| [category.name, category.id] }, {:include_blank => "Select a Category..."}, {:class => 'categories_select'}) %> 
	<div id="hide-topic", style="display:none">
		<%= f.label :topic, "Topic" %>
		<%= f.select(:topic_id, @category_topics.collect { |topic| [topic.name, topic.id] }, {}, {:class => 'topics_select'}) %>
	</div>
	<br />
	<%= f.label :title%>
	<%= f.text_field :title, class: 'form-control' %>
	<%= f.label :content %>
	<%= f.bootsy_area :content, class: 'form-control', size: '60x12' %>
	<br />
	<%= f.check_box (:is_draft)%> <%= f.label (:is_draft) , "Draft?" %> 
	<br />
	<br />
	<%= f.label :video_url, "YouTube URL" %> <%= f.text_field :video_url %>
	<br />
	<br />
	<%= f.submit 'Publish', class: 'btn btn-primary' %>
<% end %>
