<br />
<div class="container">
  <%@categories.each do |category|%>
    <div class="row">
      <div class="col-md-3">
        <h4><%=category.name%></h4>
      </div>
      <div class="col-md-9 pull-right">
    		<% category.topics.each do |topic| %>
        	<div class="dropdown">
        	  <button class="btn btn-info btn-sm"><%=topic.name%></button>
            	  <div class="dropdown-content">
                  <% topic.articles.each do |article| %>
                    <%= link_to article.title, article_path(article) %>
                  <% end %>
                </div>
          </div>
          <%end%>
      </div>
    </div>
    <br />
  <%end%>
</div>

<% if @search_results.present?%>
	<%= render partial: 'shared/search' %>
<% elsif params[:search].present? && @search_results.empty? %>
	<%= "There were no articles matching the terms '#{params[:search]}'" %>
<% end %>