<%= '.'*500 %>
	<h3>Search Results</h3>
	<% if @found_articles.empty? %>
			<%= "There were no articles matching the terms '#{params[:search]}'" %>
	<% end %>
		<ul>
			<% @found_articles.each do |article| %>
				<li>
					<% if article.is_draft %>
				  		<%= link_to article_path(article) do%>
				  			<%= article.title%> <span class="glyphicon glyphicon-pencil"></span>
				 			<% end %>
				   		<% else %>
				   		<%= link_to article.title, article_path(article) %>
				   	<% end %>
				</li>
	    <% end %>
		</ul>
		