<% if @found_articles && (params[:search].present? || params[:category_ids].present?) %>
	<%= '.'*500 %>
		<h3>Search Results</h3>
			<ul>
				<% @found_articles.each do |article| %>
					<li>
						<% if article.is_draft %>
					  	<%= link_to article_path(article) do%>
					  			<%= article.title%> <span class="glyphicon glyphicon-pencil"></span>
					 		<% end %>
					  <% else %>
					   	<%= link_to article.title, article_path(article) %>
					  <% end %>
					</li>
		    <% end %>
			</ul>
<% end %>

<% if @found_articles.empty? %>
	<% no_results = "There were no articles matching" %>
		<% if params[:search].present? %>
			<% no_results += " '#{params[:search]}'" %>
		<% end %>
		<% if params[:category_ids].present? %>
			<% category_name = (Category.find(params[:category_ids])).name %>
			<% no_results += " in category '#{category_name}'" %>
		<% end %>
		<%= no_results %>
<% end %>